@model VirualLab.Models.TaskResultsModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Віртуальна лабораторія GIT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/Content/bootstrap.min.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="/Content/Custom/main.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="/Content/Custom/font-awesome.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="/Content/Custom/rainbows.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="/Content/Custom/admin.css" type="text/css" charset="utf-8">
</head>
<body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-6 col-md-5 col-lg-4 mr-0" href="/Home/Student">Віртуальна лабораторія GIT</a>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Пошук" aria-label="Пошук">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="/Home/Index">Вихід</a>
            </li>
        </ul>
    </nav>
    <div class="modalView box horizontal center transitionOpacityLinear inFront show">
        <div class="contentHolder box vertical center flex1">
            <div class="modalTerminal box flex1">
                <div class="terminal-window box horizontal flex3 transitionAll">
                    <div class="terminal-window-holder box flex10 vertical transitionTransform">
                        <div class="wrapper box vertical fullscreen">
                            <div class="toolbar box vertical center">
                                <div class="controls box horizontal justify">
                                    <div class="box flex1">
                                        <div class="close">
                                        </div>
                                    </div>
                                    <div class="box flex1">
                                        <div class="minimize">
                                        </div>
                                    </div>
                                    <div class="box flex1">
                                        <div class="plus">
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <i class="icon-cog"></i>
                                    <span class="modal-title">
                                        Результат виконання
                                    </span>
                                </div>

                            </div>

                            <div class="inside centered">
                                <div class="gitDemonstrationView box horizontal">
                                    <div class="demonstrationText box vertical">
                                        <div class="beforeText">
                                            <p></p>
                                            <p style="color:tomato"><b>@Html.DisplayFor(model => model.TotalResult)</b></p>
                                            <p>Правильність: <span style="color:orange">@Html.DisplayFor(model => model.PercentageOfCorrectCommands)%</span></p>
                                            <p></p>
                                            <p>Виконано команд: @Html.DisplayFor(model => model.AnswerCommandsCount)</p>
                                            <p>Оптимальне рішення: @Html.DisplayFor(model => model.CorrectComandsCount)</p>
                                            <p></p>                                            
                                            <p>Порада: @Html.DisplayFor(model => model.Advice)</p>
                                            <p></p>
                                        </div>

                                    </div>
                                </div><div class="leftRightView box horizontal center">
                                    <div class="box left">
                                        <p class="uiButton uiButtonRed transitionOpacity" onclick="window.location.href='@Model.Reference'">
                                            Повернутись до виконання
                                        </p>

                                    </div>
                                    <div class="box right">

                                        <p class="uiButton uiButtonYellow transitionOpacity" onclick="window.location.href='/TasksInfo/Task2Info'">
                                            Завершити і перейти до наспуного
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/Scripts/jquery-3.3.1.min.js"></script>
    <script>
    //change Green button to "Finish" when test is last.
    $(document).ready(() => {
      if(localStorage['lessonName'] == "Вітвлення у GIT") {
        let btn = $(".box.right p");
        console.log(btn);
        btn.text("Завершити");
        btn.attr("onclick", "window.location.href='/Home/Student'");
      }
    });
    </script>
</body>
</html>